<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1> Welcome to ZWB </h1>
  <p>
    This is the Home page for 'ZWB'.
  </p>
  <%= link_to 'Sign up', '#', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("", alt: "ZWB") %>