<h2><%= @portfolio.name %> <h2>
	<% @stocks = Stock.find :all %> 
	<% @stocks.each do |stock| %>
		<p>
			<%= stock.name %>
		</p>
	<% end %>
<p>
	<%= link_to "Edit Portfolio", edit_portfolio_path(@portfolio) %>
</p>
