
<h2>Current Stock Data</h2>
<h3>Company Name</h3>
<h3>Symbol</h3>
<h3>Current Price</h3>
<h3>PE</h3>
<h3>Dividend Yield</h3>

<%= link_to "Update Stocks", stocks_path %>
<%= link_to "New Stock", new_stock_path %>