<footer class="footer">
  <small>
    <a href='#'>ZWB</a>
    Name goes here
  </small>
  <nav>
    <ul>
      <li><%= link_to "Feedback",   '#' %></li>
      <li><%= link_to "Comment", '#' %></li>
      <li><a href=''>Get update</a></li>
    </ul>
  </nav>
</footer>